
<!DOCTYPE html>
<html>
<head>
<base href="http://huodong.sogou.com/sogou_ccir_qa/"/>
<!-- uc -->
<meta name="screen-orientation" content="portrait">
<!-- QQ -->
<meta name="x5-orientation" content="portrait">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<title>搜狗搜索CCIR评测</title>
<link href="css/reset.css" rel="stylesheet"/>
<link href="css/layout.css" rel="stylesheet"/>
<script src="js/jquery-2.1.1.min.js"></script>

</head>
<body>
<!-- top-header -->
<div class="lab-top clearfix">
  <div class="lab-header">
    <div class="lab-nav">
      <a href="http://www.sogou.com/labs/sogoulab_new/" title="搜狗实验室" class="logo"><span>搜狗实验室</span></a>
      <ul class="menu">
        <li><a href="http://www.sogou.com/labs/">首页</a></li>
        <li><a href="http://www.sogou.com/labs/resource/list_pingce.php">数据资源</a></li>
        <li><a href="http://www.sogou.com/labs/webservice/">云服务</a></li>
        <li><a href="http://www.sogou.com/labs/research/list_tsinghua.php">研究合作</a></li>
        <li><a href="http://www.sogou.com/labs/report/list_web.php">技术报告</a></li>
        <li><a href="http://huodong.sogou.com/sogou_ccir_qa" class="cur">评测比赛</a></li>
      </ul>
    </div>
  </div>
  <div class="lab-banner">
    <div class="banner-img"><img src="images/banner.jpg"><p>面向智能问答的篇章排序</p></div>
  </div>
</div>
<!--  -->
<div class="lab-con">
  <h2 class="lab-tit">1.	评测目的与意义</h2>
  <p class="lab-txt">智能问答是让信息获取变得更加智能和便捷的重要途径，是自然语言处理和人工智能领域的前沿研究课题。其目标是对用户通过自然语言表述的问题直接提供精确答案，涉及到复杂的用户意图理解、大规模文本分析、知识抽取和表示等技术。但目前在智能问答研究领域，可用的大规模公开数据集，尤其是反映真实用户问答需求的中文数据集非常稀缺。</p>
  <p class="lab-txt">搜索引擎作为当前信息获取的重要手段，给智能问答提供了非常丰富的答案来源。用户输入的大量查询包含问答意图，搜索引擎返回的相关结果中可能蕴藏答案，基于这些相关结果得到的候选篇章自动识别和生成答案，是通往智能问答目标的一条不错路径。本评测任务即是面向智能问答的篇章排序，旨在对给定的候选篇章集合进行排序，尽可能将包含答案的篇章排在前面。</p>
  <p class="lab-txt">组织本评测的意义在于：</p>
  <p class="lab-txt">1.	提供智能问答领域的大规模公开数据集。数据包括反应真实用户需求的问题、来自主流商用搜索引擎高水平检索结果的候选篇章、以及经过人工标注的包含答案的篇章。</p>
  <p class="lab-txt">2.	促进国内学术和工业界在智能问答领域的研究发展，鼓励学术交流，提升研究水平。</p>

  <h2 class="lab-tit">2.	任务设置与数据使用方式</h2>

  
</div>
<!-- extend-box over -->
<div class="lab-footer">
    <ul class="main-footer">
        <li><a href="http://corp.sogou.com/" target="_blank">关于搜狗</a></li>
        <li><a href="http://job.sogou.com/" target="_blank">加入我们</a></li>
        <li><a href="http://fuwu.sogou.com/" target="_blank">推广服务</a></li>
        <li><a href="http://www.sogou.com/docs/terms.htm?v=1" class="nr-bor" target="_blank">免责声明</a></li>
        <li>@2017 SOGOU.COM 京ICP证050897号</li>
    </ul>
</div>
<!-- extend-footer over -->
</body>
</html>

